$inputBg:#7b9e8983;
$cardColor: #7b9e8983;
$prevWidth: 32vw;
$cardHover:#7b9e89;

#root {
  display: flex;
  justify-content: center;
  font-family: oswald;
}

.main {
  // border: 2px solid black;
  margin-top: 20px;
  box-sizing: border-box;
  width: 90vw;
  height: 100vh;
  .sides {
    display: flex;
    justify-content: center;
    gap: 50px;
    .preview-side {
      width: $prevWidth;
      height: calc($prevWidth * 1.4);
      border: 1px solid gray;
      .header {
        height: 150px;
        width: 100%;
        background-color: #0e1428d3;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name-title {
          margin-left: calc($prevWidth *0.05);
          display: flex;
          width: fit-content;
          flex-direction: column;
          gap: 20px;
          .prev-name {
            font-size: calc($prevWidth *0.09);
          }
          .prev-title {
            font-size: calc($prevWidth *0.04);
            font-style: italic;
            height: calc($prevWidth *0.05);;
          }


        }
        .prev-email, .prev-number, .prev-country{
          font-size: calc($prevWidth *0.03);
        }
        .contacts{
          height: 100px;
          width: fit-content;
          padding: calc($prevWidth *0.05);
          display: flex;
          flex-direction: column;
          gap: 15px;
          justify-content: center;
        }
      }
    }
    .input-side {
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      .basic-information{
        display: flex;
        flex-direction: column;
        gap:10px;
        padding-bottom: 15px;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 10px;
        background-color: #7b9e8983;
        border-radius: 20px;
        .basic-title{
          display: flex;
          align-items: center;
          justify-content: space-around;
          border-radius: 20px;
          margin-top: 5px;
          transition: 0.2s ease-in-out;
          cursor: pointer;
          &:hover{
            background-color: $cardHover;
            transition: 0.2s ease-in-out;
          }
          &:active{
            transform: scale(0.95);
          }
        }
        h3{
          font-size: 20px;
          text-align: center;
          padding-bottom: 15px;
          padding-top: 15px;
          user-select: none;
        }
        .info-section{
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.chevron{
  height: 30px;
}

.active{
  max-height: 500px;
  transition: max-height 0.2s ease-in-out;
    .info-section{
      opacity: 1;
      transition: opacity 0.1s ease-in-out;
    }
}
.inactive{
  max-height: 45px;
  transition: max-height 0.2s ease-in-out;
  .info-section, button{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    overflow: hidden;
  }
}